apiVersion: v1
kind: Secret
metadata:
  name: pgadmin-secret
  namespace: db-tools
type: Opaque
stringData:
  PGADMIN_DEFAULT_EMAIL: admin@example.com   # zmień
  PGADMIN_DEFAULT_PASSWORD: super-secure     # zmień
